{% extends "layout.html" %}
{% block content %}

<h4>Add a pattern to the database:</h4>

{{message}}

<form action="/add_pattern" method="POST">
    <label for="pattern_name"> Pattern name or code:</label><br>
    <input type="text" id="pattern_name" name="pattern_name" minlength="3"></p>
    <label for="company">Company:</label><br>
    <input type="text" id="company" name="company"></p>
    <p>Fabric type:</p>
    <input type="radio" checked=checked id="fabric1" name="fabric" value=0>
    <label for="fabric1">Vowen</label>
    <input type="radio" id="fabric2" name="fabric" value=1>    
    <label for="fabric2">Knit</label>
    <p>  
    <input type="submit" value="Add pattern to database">
    </form>

{% endblock%}