{% extends "layout.html" %}
{% block content %}
<div class="container">
   <div class="row">
      <div class="col-8">
{% if session.user_id %}

<p>Welcome to the Sewing Pattern Library {{session.user_name}}</p>

{% else %}

<p>The Sewing Pattern Library helps you to keep track of you patterns!
   You can search for patterns from the database, save patterns to your library,
   add personal notes to patterns, and read other sewists' reviews.
</p>

{% endif %}
      </div>

      <div class="col-2">
         <h6 class="text-muted">Sewing Pattern Library in numbers</h6>
         <p> {{patterns}} different patterns from {{companies}}
            {% if companies == 1 %}
            company
            {% else %}
            companies
            {% endif %}
            and counting!</p>
         <p>{{reviews}} reviews by {{reviewers}}
         {% if reviewers == 1 %}
         reviewer
         {% else %}
         reviewers
         {% endif %}
      </p>


      </div>
   </div>
</div>

{% endblock %}