{% extends "layout.html" %}
{% block content %}
<div class="container p-3">
    <div class="row">
        <div class="col-8">

            <h5>My patterns</h5>
            <br>

            {% if not my_patterns %}

            <p>You don't have any patterns in your library yet. Try <a href="/search">searching</a> for patterns and
                then adding them to your library</a>. </p>

            {% elif total == 1 %}

            <p>You have {{total}} pattern in your library:</p>

            {% else %}

            <p>You have {{total}} patterns in your library:</p>

            {% endif %}
            <ul>
                {% for my_pattern in my_patterns: %}

                <li><a href="/pattern/{{my_pattern.id}}">{{my_pattern.company|capitalize}}:
                        {{my_pattern.name|capitalize}}</a></li>

                {% endfor %}
            </ul>

        </div>
    </div>
</div>
{% endblock%}