{% extends "layout.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-8">

<h2>{{company|capitalize}}: {{pattern_name|capitalize}}</h2>

<p>Fabric type: {{fabric}}</p>

<p>Garment type: {% for garment in garments: %}{{garment.garment}} {% endfor %}</p>

{% if not in_my_patterns %}

<form action="/add_to_my_patterns", method="POST">
    <input type="hidden" name="pattern_id" value={{pattern_id}}>
    <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
    <input type=submit type="button" class="btn btn-secondary" value="Add to my patterns">
</form>

{% else %}

<form action="/delete_from_my_patterns", method="POST">
    <input type="hidden" name="pattern_id" value={{pattern_id}}>
    <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
    <input type=submit class="btn btn-secondary" value="Delete from my patterns">
</form>

{% endif %}

<br>
<h4>Reviews: </h4>

{% if not reviews %}

<p>There are no reviews for this pattern yet.</p>

{% else %}
{% for review in reviews: %}

{{review.username}} wrote on {{review.date}}: <br>
{{review.review}}
<br>
<br>
{% endfor %}

{% endif %}

{{error_message}}

<form action="{{url_for('pattern_page', pattern_id=pattern_id)}}" method="POST">
    <div class="form-group">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token}}">
        <label for="review">Review this pattern:</label><br>
        <textarea class="form-control" id="review" name="review" rows="5" cols="45"></textarea><br>
        <input type="submit" class="btn btn-secondary" value="Submit review">
    </div>
</form>

        </div>
    </div>
</div>
{% endblock %}