{% extends "layout.html" %}
{% block content %}

<h2>{{company|capitalize}}: {{pattern_name|capitalize}}</h2>

<p>Fabric type: {{fabric}}</p>

<p>Garment type: {% for garment in garments: %}{{garment.garment}} {% endfor %}</p>

<form action="/add_to_my_patterns", method="POST">
    <input type="hidden" name="pattern_name" value={{pattern_name}}>
    <button>Add to my patterns</button>
</form>

<!-- display if pattern in personal library
<p>Supplies:  </p>
<p>Add note tai Show notes: </p>
-->

<h4>Reviews: </h4>

{% if not reviews %}

<p>There are no reviews for this pattern yet.</p>

{% else %}
{% for review in reviews: %}

{{review.username}} wrote on {{review.date}}: <br>
{{review.review}}
<br>
<br>
{% endfor %}

{% endif %}

<form action="{{url_for('pattern_page', pattern_name=pattern_name)}}" method="POST">
    <label for="review">Review this pattern:</label><br>
    <textarea id="review" name="review" rows="5" cols="45"></textarea><br>
    <br>
    <input type="submit" value="Submit review">
</form>

{% endblock %}