{% extends "layout.html" %}
{% block content %}

<h2>Register to the Sewing Pattern library</h2>

<p>The username needs to be at between 3-25 characters and the password needs to be at least 3 characters. </p>

<form action="/register" method="POST">
<label for="username"> Username:</label><br>
<input type="text" id="username" name="username" minlength="3" maxlength="25"><br>
<label for="password">Password:</label><br>
<input type="password" id="password1" name="password1" minlength="3"><br>
<label for="password_conf">Confirm password:</label><br>
<input type="password" id="password_conf" name="password_conf" minlength="3"><br>
<br>
<input type="submit" value="Register">
</form>

{% endblock %}