{% extends "layout.html"%}
{% block content %}
<br>
<br>

<form action="/search" method="POST">
    <h4>Search for pattern by</h4>

    <label for="pattern_name">Name or code: </label><input type="text" id="pattern_name" name="pattern_name"><br>
    <br>
    <label for="company">Company: </label><input type="text" id="company" name="company"><br>
    <p>Fabric type:</p>
    <label for="fabric1">All</label>
    <input type="radio" checked=checked id="fabric1" name="fabric" value ="%">
    <label for="fabric2">Vowen</label>
    <input type="radio" id="vowen" name="fabric" value="vowen">
    <label for="fabric3">Knit</label>
    <input type="radio" id="knit" name="fabric" value="knit">    

<br>
<br>
<input type="submit" value="Search">
</form>


<p>In the future you'll be able to add patterns and personal notes to your library!</p>

{% endblock %}